= form_with model: @comment, local: true do |f|
  = f.label t(:'site.image.new_comment')
  = f.text_field :body
  = f.hidden_field :image_id, value:  params[:image_id]
  = f.submit t(:'site.common.create')
