.col-12
  .carousel.slide#slider(data-ride='carousel')
    %ol.carousel-indicators
      %li.active#carousel-indication1(data-target='#slider' data-slide-to='0')
      %li#carousel-indication2(data-target='#slider' data-slide-to='1')
      %li#carousel-indication3(data-target='#slider' data-slide-to='2')
      %li#carousel-indication4(data-target='#slider' data-slide-to='3')
      %li#carousel-indication5(data-target='#slider' data-slide-to='4')
    .carousel-inner
      -#- find_popular_images.each_with_index do |image, index|
        - if index == 0
          .carousel-item.active
        - else
          .carousel-item
          - end
            = image_tag path_to_image(image.path), class: 'd-block w-100'
      .carousel-item.active
        = image_tag path_to_image(Image.order(:likes_count).reverse.first.path), class: 'd-block w-100'
      .carousel-item
        = image_tag path_to_image(Image.order(:likes_count).reverse.second.path), class: 'd-block w-100'
      .carousel-item
        = image_tag path_to_image(Image.order(:likes_count).reverse.third.path), class: 'd-block w-100'
      .carousel-item
        = image_tag path_to_image(Image.order(:likes_count).reverse.fourth.path), class: 'd-block w-100'
      .carousel-item
        = image_tag path_to_image(Image.order(:likes_count).reverse.fifth.path), class: 'd-block w-100'
    %a.carousel-control-next.carousel-next-bg(href='#slider' role='button' data-slide='next')
      %span.carousel-control-next-icon
    %a.carousel-control-prev.text-danger.carousel-prev-bg(href='#slider' role='button' data-slide='prev')
      %span.carousel-control-prev-icon.text-danger(style='color:red')
    -#.row
    -#  .col.stat-div
    -#    .stat-count
    -#      = count_categories
    -#    .stat-name
    -#      = t(:'site.stat.categories')
    -#  .col.stat-div
    -#    .stat-count
    -#      = count_images
    -#    .stat-name
    -#      = t(:'site.stat.images')
    -#  .col.stat-div
    -#    .stat-count
    -#      = count_likes
    -#    .stat-name
    -#      = t(:'site.stat.likes')
    -#  .col.stat-div
    -#    .stat-count
    -#      = count_comments
    -#    .stat-name
    -#      = t(:'site.stat.comments')
  .qwe
    %h2.text-center.text-warning= t(:'site.stat.stat')
    .row.w-100
      .col.column-v-center
        .card.bg-info.text-center.card-container
          .card-body.vsize-50
            %h5.card-header.counting{'data-count': count_categories}
              = count_categories
            %h5.card-text
              = t(:'site.stat.categories')
      .col.column-v-center
        .card.bg-info.text-center.card-container
          .card-body.vsize-50
            %h5.card-header.counting{'data-count': count_images}
              = count_images
            %h5.card-text
              = t(:'site.stat.images')
      .col.column-v-center
        .card.bg-info.text-center.card-container
          .card-body.vsize-50
            %h5.card-header.counting{'data-count': count_likes}
              = count_likes
            %h5.card-text
              = t(:'site.stat.likes')
      .col.column-v-center
        .card.bg-info.text-center.card-container
          .card-body.vsize-50
            %h5.card-header.counting{'data-count': count_comments}
              = count_comments
            %h5.card-text
              = t(:'site.stat.comments')