.col-9
  %h1.text-center= t('.sign_in')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.text-center
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
    .form-group.text-center
      = f.label :password
      = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group.form-check.text-center
        = f.check_box :remember_me, class: 'form-check-input'
        = f.label :remember_me, class: 'form-check-label text-center' do
          = resource.class.human_attribute_name('remember_me')
    - if User.find_by_email(resource.email)
      - if User.find_by_email(resource.email).failed_attempts >= User.logins_before_captcha
        .text-center
          = recaptcha_tags
    .form-group.text-center.justify-content-sm-center
      = f.submit  t('.sign_in'), class: 'btn btn-primary'
  .text-center
    = render 'devise/shared/links'
