!!! 5
= render 'share/menu'

- @categories_with_rating.each do |hash|
  %div.category-list-main
    %p
      - img = find_popular_image(hash.fetch(:category))
      - if img.present?
        %p
          = hash.fetch(:category).name
        = link_to image_tag( "#{img.path.thumb}", alt: img[:path] ), category_path(hash.fetch(:category))
      - else
        = link_to hash.fetch(:category).name, category_path(hash.fetch(:category))
      - if user_signed_in? && hash.fetch(:category).owner_id == current_user.id
        %ul.menu
          %li
            = link_to 'rename', edit_category_path(hash.fetch(:category))
          %li
            -#%a(href='destroy') delete
            = link_to 'delete', hash.fetch(:category), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'create category', new_category_path