!!!
= render 'menu'
= form_with model: @category, local: true do |f|
  = f.file_field :picture
  = f.submit
- Category.all.each do |category|
  %div.category-list-main
    %p
      =category.name
      %ul.menu
        -#%li update
        %li
          -#%a(href='destroy') delete
          = link_to 'delete', category, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'create category', new_category_path