= render 'share/menu'
- @category.images.each do |image|
  = image_tag( "#{image.path.thumb}", alt: image[:path])
= form_with model: @image , url: images_path, local: true do |f|
  = f.file_field :path
  = f.hidden_field :cat_id, value:  params[:id]
  = f.submit