-#.col-12.col-lg-9
-#  .card-columns
-#    - @images.each do |img|
-#      .card.w-auto
-#        = link_to image_tag( "#{img.path.thumb}", alt: img[:path], class: 'card-img-top' ),
-#                  image_path(img), class: 'stretched-link'
-#  .container.d-flex.justify-content-center
-#    = paginate @images, theme: 'twitter-bootstrap-4'
-#= render 'share/sidebar'


.col-12.col-lg-9
  .row
    - @images.each do |img|
      .qwe{style: 'flex-grow: auto;'}
        = image_tag img.path.thumb.to_s, alt: img[:path], style: ' object-fit: fill;',
          'data-target': '#imageFullScreen', 'data-toggle': 'modal', type: 'button', 'data-id': img.id, onclick: "ChangeImagePath(this)"
    #imageFullScreen.modal.fade{role: 'dialog', tabindex: '-1'}
      .modal-dialog.modal-dialog-centered.text-center.modal-lg{role: 'document'}
        .modal-content.w-auto
          .modal-body
            -#= byebug
            = image_tag('', alt: 'qwe', 'data-dismiss': 'modal', class: 'img-fluid', id: 'modalPlace')
  .container.d-flex.justify-content-center
    = paginate @images, theme: 'twitter-bootstrap-4'
= render 'share/sidebar'