-#.col-12.col-lg-9
-#  .card-columns
-#    - @images.each do |img|
-#      .card.w-auto
-#        = link_to image_tag( "#{img.path.thumb}", alt: img[:path], class: 'card-img-top' ),
-#                  image_path(img), class: 'stretched-link'
-#  .container.d-flex.justify-content-center
-#    = paginate @images, theme: 'twitter-bootstrap-4'
-#= render 'share/sidebar'


.col-12.col-lg-9
  = Rails.logger.fatal 'ImagesView#index, @categories_with_rating is present' if Rails.logger.level == 4 && @categories_with_rating.present?
  %h3.text-center= t(:'site.image.list')
  .row
    - @images.each do |img|
      .qwe{style: 'flex-grow: auto;'}
        = link_to image_tag( "#{img.path.thumb}", alt: img[:path], style: ' object-fit: fill;' ),
                  image_path(img), style: ''
  .container.d-flex.justify-content-center
    = paginate @images, theme: 'twitter-bootstrap-4'
= render 'share/sidebar'