!!!
= render 'share/menu'
%div
  = image_tag "#{@image.path}", alt: @image[:path]
  %p.menu
    -#= form_with model: @image, url: likes_path(@image), method: :post, local: :yes do |f|
    -#  = f.hidden_field :img_id, value: params[:id]
    -#  = f.submit 'Like'
    - if already_liked?
      = link_to image_tag( 'liked.svg', alt: 'Unlike'), like_path, method: :delete
    -else
      = link_to image_tag( 'unliked.svg', alt: 'Like'), likes_path, method: :post
    = @likes_count
    = @likes_count == 1 ? 'Like' : 'Likes'
- @image.comments.each do |comment|
  %p
    = comment&.body


= link_to 'new comment', new_comment_path(image_id: params[:id])