.container
  = image_tag "#{@image.path}", alt: @image[:path]
  %p.menu
    - if already_liked?
      = link_to image_tag( 'liked.svg', alt: t(:'site.image.unlike'), id: 'heart'), like_path, method: :delete, remote: true
    -else
      = link_to image_tag( 'unliked.svg', alt: t(:'site.image.like'), id: 'heart'), likes_path, method: :post, remote: true
    = @likes_count
    = @likes_count == 1 ? t(:'site.image.like') : t(:'site.image.likes')
    -#= @path_to_img
- @image.comments.each do |comment|
  %p
    = comment&.body


= link_to t(:'site.image.new_comment'), new_comment_path(image_id: params[:id])
