!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    -#%p.notice= notice
    -#%p.alert= alert
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-expand-xl.navbar-dark.bg-secondary
      .navbar-collapse.order-0.text-center
        .navbar-brand Gallery
        %ul.navbar-nav.ml-auto
          %li.active.nav-item
            %a.nav-link(href=root_path) Главная
          %li.nav-item
            %a.nav-link.pr-0(href=categories_path) Категории

          %li.nav-item.dropdown.pr-2
            %a.nav-link.dropdown-toggle#navbarDropdown(href='#' role="button" data-toggle='dropdown')
            .dropdown-menu.bg-secondary
              - find_categories_rating.first(5).each do |category|
                = link_to category[:category].name, category_path(category[:category]), class: 'dropdown-item bg-secondary text-white'

          %li.nav-item
            %a.nav-link.pl-0(href=images_path) Все картинки
          %li.nav-item
            %a.nav-link(href=admin_root_path) Admin
      .navbar-collapse.order-1
        %ul.navbar-nav.ml-auto
          %li.nav-item
          - if user_signed_in?
            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link text-center text-uppercase'
          - else
            = link_to 'Sign In', 'users/sign_in', class: 'nav-link text-center'
    .row
      .column-9
        = yield
