!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-secondary
      .navbar-collapse.order-0.text-center
        .navbar-brand
          = t(:'site.menu.title')
        %ul.navbar-nav.ml-auto
          %li.active.nav-item
            %a.nav-link(href=root_path)= t(:'site.menu.main')
          %li.nav-item
            %a.nav-link.pr-0(href=categories_path)= t(:'site.menu.categories')

          %li.nav-item.dropdown.pr-2
            %a.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
            .dropdown-menu.bg-secondary
              - find_categories_rating.first(5).each do |category|
                = link_to category[:category].name, category_path(category[:category]),
                          class: 'dropdown-item bg-secondary text-white'
          %li.nav-item
            %a.nav-link.pl-0(href=images_path)= t(:'site.menu.images')
          %li.nav-item
            %a.nav-link(href=admin_root_path)= t(:'site.menu.admin')

      .navbar-collapse.order-1
        %ul.navbar-nav.ml-auto
          %li.nav-item.dropdown.pr-3
            = link_to image_tag("#{find_locale}.png", alt: params[:locale], width: 40), '#',
                      role: 'button', 'data-toggle': 'dropdown', class: 'nav-link dropdown-toggle'
            .dropdown-menu.bg-secondary.w-auto
              - %w[en ru].each do |lang|
                - unless find_locale == lang
                  = link_to image_tag(lang + '.png', alt: lang, width: 40), locales_path(locale: lang), method: :put,
                            controller: :locales, action: :update, class: 'dropdown-item bg-secondary text-white'
          - if user_signed_in?
            = link_to t(:'site.common.sign_out'), destroy_user_session_path, method: :delete,
                      class: 'nav-link text-center text-uppercase'
          - else
            = link_to t(:'site.common.sign_in'), new_user_session_path, class: 'nav-link text-center'
    %p.notice.text-center= notice
    %p.alert.text-center= alert
    .container-fluid
      .row
        = yield
